@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-SemiboldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-UltraBlack.otf') format('opentype');
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro';
  src: url('fonts/AcuminPro-UltraBlackItalic.otf') format('opentype');
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Hairline.otf') format('opentype');
  font-weight: 50;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-HairlineItalic.otf') format('opentype');
  font-weight: 50;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-ExtraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-ExtraBoldItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Bilo';
  src: url('fonts/Bilo-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

:root {
  --head-font: 'AcuminPro';
  --content-font: 'Bilo';
  --bg-color: #000;
  --text-color: #fff;
  --accent-color: #cddd51;
  --content-size: 16px;
  --h1-size: 30px;
  --menu-margin: min(1vmax, 15px);
  --menu-padding: calc(var(--menu-margin) / 2);
  --menu-height: calc(var(--content-size) * 1.1875);
  --menu-items: 5;
  --menu-expanded: 0;
  --menu-current-px: 2px;
  --logo-size: min(30px, 3vmax);
  --logo-padding: calc(
    var(--menu-margin) - (var(--logo-size) - var(--menu-height)) / 2
  );
  --logo-padding-mobile: calc(
    1.5 * var(--menu-margin) - (var(--logo-size) - var(--menu-height)) / 2
  );
  --std-transition: all 0.2s linear;
  --flex-margin: 2.5vh;
  --vh: min(
    1vh,
    calc(-webkit-fill-available / 100),
    calc(-moz-available / 100)
  );
}

body {
  font-family: var(--head-font);
  background-color: var(--bg-color);
  /* overflow: hidden; */
  height: 100vh;
}

p,
a,
h1 {
  color: var(--text-color);
}
h1 {
  font-family: var(--head-font);
  font-weight: 800;
}
p,
a {
  font-family: var(--content-font);
  font-weight: 400;
  font-style: normal;
  font-size: var(--content-size);
}

#logo,
.menu-button {
  z-index: 2;
  height: var(--logo-size);
  padding: var(--logo-padding);
  /*1vmax = 1vmax margin-top of menu + 0.5vmax*2 padding (top+bottom) of menu*/
  background-color: var(--accent-color);
}

.menu {
  transition: var(--std-transition);
  display: flex;
}
.menu a {
  text-decoration: none;
}
.menu .link,
.menu p {
  font-family: var(--head-font);
  font-weight: 400;
  height: var(--menu-height);
  /* background-color: rgba(255, 255, 0, 1); */
  margin: var(--menu-margin);
  text-decoration: none;
  padding: var(--menu-padding);
  background: linear-gradient(
    to top,
    var(--bg-color) 25%,
    var(--accent-color) 25% 50%,
    var(--bg-color) 50%
  );
  background-position: left top;
  background-size: 100% 270%;
  transition: var(--std-transition);
  animation: var(--std-transition);
}
.menu .current {
  color: var(--text-color);
  /* text-decoration: underline solid var(--accent-color); */
  border-bottom: var(--menu-current-px) solid var(--accent-color);
}

/* .menu a:visited {
  background-color: rgba(255, 255, 0, 1);
  color: var(--text-color);
} */

.menu a:hover {
  /* background: linear-gradient(to top, #CDDD5100 20%, var(--accent-color) 20% 70%, #CDDD5100 50%); */
  background-position: left bottom 30%;
  color: var(--bg-color);
  /* background-color: var(--accent-color); */
}
.content {
  overflow-y: auto;
  transition: var(--std-transition);
  animation: var(--std-transition);
}
.flex .centre {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
}
.flex h1 {
  font-size: var(--h1-size);
  margin-bottom: 0;
  margin-top: 2vh;
}
.italics {
  font-style: italic;
}
.tagline {
  margin-top: 0;
  font-size: 20px;
}

.flex .seperator {
  /* margin: 0 15vw; */
  height: 10px;
  border-radius: 2px;
  background: #111111;
}
.article p.last {
  margin-bottom: 0;
  padding-bottom: 0;
}
.tooltip-text {
  position: relative;
  text-decoration: underline dotted 2px var(--accent-color);
  text-underline-offset: 3px;
}
.tooltip {
  visibility: hidden;
  opacity: 0;
  max-width: 120px;
  background-color: var(--accent-color);
  color: var(--bg-color);
  text-align: center;
  vertical-align: middle;
  padding: 5px 10px 10px 10px;
  border-radius: 6px;
  transition: all 0.1s linear;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  /* margin-left: -65px; */
  margin-top: 5px;
  z-index: 1;
}
.tooltip::after {
  content: ' ';
  position: absolute;
  top: 0%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  margin-top: -10px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--accent-color) transparent;
}

.tooltip-text:hover .tooltip {
  opacity: 100%;
  visibility: visible;
  top: 100%;
}

.tooltip-text:active .tooltip {
  visibility: visible;
  bottom: 100%;
}
@media (min-aspect-ratio: 6/10) {
  .menu {
    /* position: absolute; */
    justify-content: center;
    align-items: flex-start;
  }
  #logo {
    margin-right: 1vmax;
  }
  .content {
    height: calc(
      100vh -
        (
          var(--menu-height) + var(--menu-current-px) + 2 * var(--menu-padding) +
            2 * var(--menu-margin)
        )
    );
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: var(--flex-margin) 0;
  }
  .flex .seperator {
    min-width: 525px;
    width: 60vw;
    max-width: calc(1000px + 5vw);
  }
  #caricature {
    max-width: 300px;
    width: 25vw;
    margin-right: 5vw;
  }

  .flex .article {
    /* overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(
      100vh -
        (
          var(--menu-height) + var(--menu-current-px) + 2 * var(--menu-padding) +
            2 * var(--menu-margin) + 2 * var(--flex-margin)
        )
    ); */
    min-width: 500px;
    width: 35vw;
    max-width: 650px;
  }
}
@media (max-aspect-ratio: 6/10) {
  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
  }

  #caricature {
    max-width: 40vw;
  }

  .flex .article {
    min-width: 70vw;
    max-width: 85vw;
  }
}

@media (max-aspect-ratio: 6/10) and (hover: none) {
  .menu {
    background-color: var(--bg-color);
    width: 100vw;
    position: absolute;
    top: 100%;
    /* bottom: 5vh; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
  .menu.expanded {
    transform: translateY(
      calc(
        0px - var(--logo-size) - 2 * var(--logo-padding-mobile) -
          (
            var(--menu-expanded) *
              (
                var(--menu-current-px) + var(--menu-items) *
                  (
                    var(--menu-height) + 2 * var(--menu-padding) + 2 *
                      var(--menu-margin)
                  )
              )
          )
      )
    );
  }
  html {
    overflow: hidden;
    width: 100%;
  }
  body {
    /* height: calc(100vh + var(--logo-size) + 2 * var(--logo-padding-mobile)); */
    width: 100%;
    /* position: fixed; */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .App {
    width: calc(100vw - 20px);
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #navbar {
    position: fixed;
    left: 0;
    bottom: 0;
  }
  #navbar .wrapper {
    height: calc(2 * var(--logo-padding-mobile) + var(--logo-size));
    background-color: var(--bg-color);
    position: relative;
    width: 100vw;
    /* overflow: hidden; */
  }
  #logo {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--logo-padding-mobile);
  }
  .menu-buttons-container {
    position: absolute;
    right: 0;
    bottom: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start; */
    overflow: hidden;
    height: calc(2 * var(--logo-padding-mobile) + var(--logo-size));
    width: calc(2 * var(--logo-padding-mobile) + var(--logo-size));
    transition: var(--std-transition);
  }
  .menu-buttons-container .wrapper1 {
    height: calc(2 * var(--logo-padding-mobile) + var(--logo-size));
    width: calc(2 * var(--logo-padding-mobile) + var(--logo-size));
    position: relative;
    transition: var(--std-transition);
  }
  .menu-buttons-container .wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    right: 0;
    top: 0;
    transition: var(--std-transition);
    animation: var(--std-transition);
  }
  .menu-buttons-container .wrapper2.expanded {
    top: -100%;
  }
  .menu-button {
    background-color: var(--bg-color);
    padding: var(--logo-padding-mobile);
  }
  .menu-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
  }
  .content {
    margin-bottom: calc(
      (2 * var(--logo-padding-mobile) + var(--logo-size)) +
        (
          var(--menu-expanded) *
            (
              var(--menu-current-px) + var(--menu-items) *
                (
                  var(--menu-height) + 2 * var(--menu-padding) + 2 *
                    var(--menu-margin)
                )
            )
        )
    );
  }
}
